
@{
    ViewBag.Title = "产品增加或修改";
}

<style>
    .tablist {
        width: 100%;
        height: 30px;
        border-bottom: #ddd 1px solid;
        margin-bottom: 10px;
    }
    .btn-actor, .btn-rights{
        width: auto;
        height: 30px;
        padding: 0 10px;
        text-align: center;
        line-height: 30px;
        color: #fff;
        border: 1px solid transparent;
        border-radius: 3px;
        background: #ddd;

    }
    .btn-current {
        background: #70bc67;

    }
    .tabs table td,.tabs table th{

        border: #ddd 1px solid !important;
    }
    .ListDate td {
        height: 30px !important;
        padding: 0 20px;
    }
</style>

<!-- 编辑 begin {-->
<div class="section">
    <div class="section-content4 consult-content">
        <div class="detail-title">产品信息</div>
        <ul class="info-box1 clearfix info-edit">
            <li class="typeOne-third">
                <label>系列</label>
                <input type="text" class="form-control" id="product_SerialNumber">
            </li>
            <li class="typeOne-third">
                <label>款式号</label>
                <input type="text" class="form-control" id="product_StyleNumber">
            </li>
            <li class="typeOne-third">
                <label>品名</label>
                <input type="text" class="form-control" id="product_BrandName">
            </li>
            <li class="typeOne-third">
                <label>颜色</label>
                <input type="text" class="form-control" id="product_Color">
            </li>
            <li class="typeOne-third">
                <label>备注</label>
                <input type="text" class="form-control" id="product_Remark">
            </li>
        </ul>
@*        <!-- 表格切换-->
        <div class="tablist">
            <button type="button" class=" btn-actor btn-current">皮明细</button>
            <button type="button" class=" btn-rights ">衬里明细</button>
        </div>
        <div class="tabs">
            <table border="0" cellpadding="0" cellspacing="0" class="actors" >
                <!-- 数据列表{-->
                <tbody><tr>
                    <th>名称</th>
                    <th>类型</th>
                    <th>颜色</th>
                    <th>数量</th>
                    <th>单位</th>
                    <th>_幅宽</th>
                    <th>_数量</th>
                    <th>_单位</th>
                    <th>利用率</th>
                    <th>分类</th>
                    <th>供货商</th>
                </tr>
                <tr class="ListDate">
                    <td>XXX </td>
                    <td>XXX </td>
                    <td>XXX </td>
                    <td>XXX </td>
                    <td>XXX </td>
                    <td>XXX </td>
                    <td>XXX </td>
                    <td>XXX </td>
                    <td>XXX </td>
                    <td>XXX </td>
                    <td>XXX </td>
                </tr>
                <!--}数据列表 -->
                </tbody>
            </table>
            <table border="0" cellpadding="0" cellspacing="0"  class="rights" style="display: none;">
                <!-- 数据列表{-->
                <tbody><tr>
                    <th>名称</th>
                    <th>类型</th>
                    <th>颜色</th>
                    <th>数量</th>
                    <th>单位</th>
                    <th>利用率</th>
                    <th>分类</th>
                    <th>系列号</th>
                    <th>供货商</th>
                </tr>
                <tr class="ListDate"><!-- 说明： 每页数据10条-->
                    <td>IT部</td>
                    <td>admin</td>
                    <td>IT部</td>
                    <td>admin</td>
                    <td>IT部</td>
                    <td>IT部</td>
                    <td>admin</td>
                    <td>admin</td>
                    <td>admin</td>
                </tr>
                <!--}数据列表 -->
                </tbody>
            </table>
        </div>*@
        <div class="btn-box">
            <button type="button" class="btn-default btn-cancel"onclick="window.location.href = '/baseinfo/productinfolist'">取消</button>
            <button type="button" class="btn-default btn-sure" id="product_add">确定</button>
        </div>
    </div>
</div>
<!--} 编辑 end -->

<script>
    /*两个表格名称以及表格之间的切换*/
    $(".tablist>button").click(function() {
        $(this).addClass("btn-current").siblings().removeClass("btn-current");
        if ($(".btn-actor").hasClass("btn-current")) {
            $(".tabs").find("table:eq(0)").show().siblings().hide();
        } else {
            $(".tabs").find("table:eq(1)").show().siblings().hide();
        }
    });
    /*新增*/
    $('#product_add').click(function() {
        var data = {
            SerialNumber: $("#product_SerialNumber").val(),
            StyleNumber: $("#product_StyleNumber").val(),
            BrandName: $("#product_BrandName").val(),
            Color: $("#product_Color").val(),
            Remark: $("#product_Remark").val()
        }
        var ajax = {
            url: "/baseinfo/AddProductInfo",
            data: data,
            type: 'Post',
            success: function () {
                alert('新增成功');
                window.location.href = '/baseinfo/productinfolist';
            },
            error: function () {
                alert('新增失败,请查看网络状态');
                return;
            }
        }
        $.ajax(ajax);
    });
</script>