
@{
    ViewBag.Title = "原材料添加或修改";
}

<style>        
    .tabs table td,.tabs table th{
         border: #ddd 1px solid !important;
    }
</style>

<!-- 编辑 begin {-->
<div class="section">
    <div class="section-content4 consult-content">
        <div class="detail-title">原材料信息增加</div>
        <ul class="info-box1 clearfix info-edit">
            <li class="typeOne-third">
                <label>名称</label>
                <input type="text" class="form-control">
            </li>
            <li class="typeOne-third">
                <label>类型</label>
                <input type="text" class="form-control">
            </li>
            <li class="typeOne-third">
                <label>颜色</label>
                <input type="text" class="form-control">

            </li>
            <li class="typeOne-third">
                <label>单位</label>
                <input type="text" class="form-control">
            </li>
            <li class="typeOne-third">
                <label>利用率</label>
                <input type="text" class="form-control">
            </li>
            <li class="typeOne-third">
                <label>仓库名称</label>
                <input type="text" class="form-control">
            </li>
            <li class="typeOne-third">
                <label>库位编号</label>
                <input type="text" class="form-control">
            </li>
            <li class="typeOne-third">
                <label>皮</label>
                <input type="text" class="form-control">
            </li>
            <li class="typeOne-third">
                <label>系列号</label>
                <input type="text" class="form-control">
            </li>
            <li class="typeOne-third">
                <label>供应商</label>
                <input type="text" class="form-control">
            </li>
            <li class="typeOne-third">
                <label>库存库位</label>
                <input type="text" class="form-control">
            </li>
            <li class="typeOne-third">
                <label>在库数量</label>
                <input type="text" class="form-control">
            </li>
            <li class="typeOne-third">
                <label>碎料数量</label>
                <input type="text" class="form-control">
            </li>
            <li class="typeOne-third">
                <label>库存数量</label>
                <input type="text" class="form-control">
            </li>
        </ul>
        <div class="btn-box">
            <button type="button" class="btn-default btn-cancel">取消</button>
            <button type="button" class="btn-default btn-sure">确定</button>
        </div>
    </div>
</div>
<!--} 编辑 end -->