
@{
    ViewBag.Title = "小机器派工";
}

<style>
    .tablist {
        width: 100%;
        height: 30px;
        border-bottom: #ddd 1px solid;
        margin-bottom: 10px;
    }
    .btn-actor{
        width: auto;
        height: 30px;
        padding: 0 10px;
        text-align: center;
        line-height: 30px;
        color: #fff;
        border: 1px solid transparent;
        border-radius: 3px;
        background: #ddd;

    }
    .btn-current {
        background: #70bc67;

    }
    .tabs table td,.tabs table th{

        border: #ddd 1px solid !important;
        text-align: center;
        padding: 0 10px;
    }
    .ListDate td {
        height: 30px;
    }
    .consult-content .btn-box {

        border-top: 0px solid #fff;
        padding-top: 0px;
    }

    .buttons {
        height: 30px;


    }

    .buttons div {
        float: left;
        line-height: 30px;
        margin-right: 10px;
        cursor: pointer;

    }
</style>

<!-- 编辑 begin {-->
<div class="section">
    <div class="section-content4 consult-content">
        <div class="detail-title">小机器派工</div>
        <!--  <div class="buttons">
            <div><i class="fa fa-sort-asc"></i> 上一条</div>
            <div><i class="fa fa-sort-desc"></i> 下一条</div>
            <div><i class="fa fa-times"></i> 关闭</div>

        </div>-->
        <ul class="info-box1 clearfix info-edit">
            <li class="typeOne-third">
                <label>下料单号</label>
                <input type="text" class="form-control">
            </li>
            <li class="typeOne-third">
                <label>派工单号</label>
                <input type="text" class="form-control">
            </li>
            <li class="typeOne-third">
                <label>派工人</label>
                <input type="text" class="form-control">

            </li>
            <li class="typeOne-third">
                <label>希望完工日期</label>
                <input type="text" class="form-control">
            </li>
            <li class="typeOne-third">
                <label>小机器人员</label>
                <input type="text" class="form-control">
            </li>

        </ul>
        <div class="btn-box">
            <button type="button" class="btn-default btn-cancel">取消</button>
            <button type="button" class="btn-default btn-sure">确定</button>
        </div>

        <div class="tablist">
            <button type="button" class=" btn-actor btn-current">派工信息</button>
        </div>
        <div class="tabs">
            <table border="0" cellpadding="0" cellspacing="0" class="actors" >
                <!-- 数据列表{-->
                <tbody>
                <!--   <tr>
                    <th>状态号</th>
                    <th>名称</th>
                    <th>类型</th>
                    <th>规格</th>
                    <th>色号</th>
                    <th>订单数量</th>
                    <th>采购数量</th>
                    <th>单位</th>
                    <th>采购合计</th>
                    <th>单位</th>
                </tr>-->
                <tr class="ListDate"><!-- 说明： 每页数据10条-->

                    <td>Y</td>
                    <td>admin</td>
                    <td>2017-5-12</td>
                    <td>2017-5-13</td>
                    <td>有效</td>
                    <td>Y</td>
                    <td>admin</td>
                    <td>2017-5-12</td>
                    <td>2017-5-13</td>
                    <td>有效</td>
                </tr>

                <!--}数据列表 -->
                </tbody>
            </table>

        </div>
    </div>
</div>
<!--} 编辑 end -->