
<div class="modal" style="display:block;">
    <div class="modal-backdrop" style="height:100%;"></div>

    <div class="modal-dialog-ab modal-content usual-small" style="/*display: none;*/">
        <div class="pop-up-title">
            填写类别名称
        </div>
        <div class="pop-up-content pop-up-item3">
            <!--只有一个文本框,加此样式 pop-up-item3 -->
            <input type="text" class="form-control" ng-model="newLabel">
        </div>
        <div class="popup-btn-box clearfix">
            <button type="button" class="btn-default btn-cancel" ng-click="cancel()">取消</button>
            <button type="button" class="btn-default btn-sure" ng-click="save()">确定</button>
        </div>

    </div>
</div>