<!-- 内容版块 begin {-->
<div class="container clearfix">
    <!-- 左侧版块 {-->
    <div class="crm-col-L2">

        <div class="section">
            <div  ng-click='openMessage(0)' style="cursor:pointer" class="clue-box4-head">今日预约<span class="fr head-tips" title="今日预约数量" ng-bind="reservesCount > 99 ? '99+':reservesCount"></span></div>
            <div class="clue-list-content">
                <ul class="item-list-content ul-icon1" ng-repeat='item in reserves'>
                    <li limit="160px" title="{{item.visitTime |  formatJsonDate:'HH:mm'}} {{item.userName}}" ng-click="reserveDetail(item.clueId)" ng-style="clickStyle">
                        <span class="time-tips" ng-bind="item.visitTime |  formatJsonDate:'HH:mm' " style="margin-right: 0px"></span>
                        <span class="tel-tips" ng-bind="item.userName " style="margin-right: 0px"></span>
                    </li>
                </ul>
                <div class="nodata-list" ng-show='reservesCount == 0'>无预约</div>
            </div>
            <div class="clue-box4-foot" ng-show='reservesCount > 5'>
                <span class="See-more" ng-click='openMessage(0)'>更多预约 ></span>
            </div>
            <input type="hidden" ng-value="openState" id="openState">

        </div>
        <div class="section">
            <div  ng-click='openMessage(3)' style="cursor:pointer" class="clue-box4-head">今日跟进<span class="fr head-tips" title="今日跟进提醒数量" ng-bind="fullowUpCount > 99 ? '99+':fullowUpCount"></span></div>
            <div class="clue-list-content">
                <ul class="item-list-content ul-icon1" ng-repeat='item in fullowUp'>
                    <li limit="160px" title="{{item.nextFollowUpAt |  formatJsonDate:'HH:mm'}} {{item.nextFollowUpTypeName}} {{item.studnetName}}" ng-click="followUpDetail(item.clueId)" ng-style="clickStyle">
                        <span class="time-tips" ng-bind="item.nextFollowUpAt |  formatJsonDate:'HH:mm' " style="margin-right:0px"></span>
                        <span class="tel-tips" ng-bind="item.nextFollowUpTypeName " style="margin-right:0px"></span>
                        <span class="user-tips" ng-bind="item.studnetName "></span>
                    </li>
                </ul>
                <div class="nodata-list" ng-show='fullowUpCount == 0'>无跟进</div>
            </div>
            <div class="clue-box4-foot" ng-show='fullowUpCount > 5'>
                <span class="See-more" ng-click='openMessage(3)'>更多提醒 ></span>
            </div>


        </div>
        <div class="section">
            <div  ng-click='openMessage(1)' style="cursor:pointer" class="clue-box4-head">系统消息<span class="fr head-tips" title="消息数量" ng-bind="messagesCount > 99 ? '99+':messagesCount"></span></div>
            <div class="clue-list-content">
                <ul class="item-list-content ul-icon2" ng-repeat='item in messages'>
                    <li limit="160px" title="{{item.content}}"><span class="message-tips" ng-bind="item.content"></span></li>
                </ul>
                <div class="nodata-list" ng-show='messagesCount == 0'>无消息</div>
            </div>
            <div class="clue-box4-foot" ng-show='messagesCount > 5' >
                <span class="See-more" ng-click='openMessage(1)'>更多消息 ></span>
            </div>

        </div>
        <div class="section">
            <div  ng-click='openMessage(2)' style="cursor:pointer" class="clue-box4-head">任务提醒 <span class="fr head-tips" title="待处理任务数量" ng-bind="tasksCount > 99 ? '99+':tasksCount"></span></div>
            <div class="clue-list-content">
                <ul class="item-list-content ul-icon3" ng-repeat='item in tasks'>

                    <li limit="160px" title="{{item.createName}}提醒你{{item.datetime |  formatJsonDate:'yyyy/MM/dd'}}{{item.name}}">
                        {{item.createName}}提醒你<span ng-bind="item.datetime |  formatJsonDate:'yyyy/MM/dd' "></span>{{item.name}}
                    </li>
                </ul>
                <div class="nodata-list" ng-show='tasksCount == 0'>无任务</div>
            </div>
            <div class="clue-box4-foot" ng-show='tasksCount > 5' >
                <span class="See-more" ng-click='openMessage(2)'>更多任务 ></span>
            </div>

        </div>
    </div>
    <!--} 左侧版块 -->
    <!-- 右侧版块 {-->
    <div class="crm-col-R2">
        <div class="section">
            <div class="section-content4 stat-analysis">
                <div class="target-head" ng-show="hasGoal">
                    <h3 class="target-head-title">销售目标</h3>
                    <div class="Progress-bar">
                        <div class="clearfix">
                            <div class="bar-font fl">签约数目标<span class="bar-font-number">({{allClues}})</span></div>
                            <div class="bar-number-color1 fr"><em>{{percentClues}}</em>%</div>
                        </div>
                        <div class="tips-box special-tips">
                            <div class="bar-content" title="已完成签约数：{{currentClues}}">
                                <div class="bar-bg bg-color1" style="width:{{percentClues}}%"></div>
                            </div>
                        </div>

                    </div>
                    <div class="Progress-bar">
                        <div class="clearfix">
                            <div class="bar-font fl">销售额目标<span class="bar-font-number">({{allSales}})</span></div>
                            <div class="bar-number-color2 fr"><em>{{percentSales}}</em>%</div>
                        </div>
                        <div class="bar-content" title="已完成销售额：{{currentSales}}">
                            <div class="bar-bg bg-color2" style="width:{{ percentSales}}%"></div>
                        </div>
                    </div>
                </div>
                <div class="section-box3-title">销售漏斗</div>
                <div class="section-box3">
                    <div class="section-box3-head clearfix">
                        <div class="chart-tab fr">
                            <div class="dropdown-list chart-tab-item" >
                                <!--<select-box selected-data="currentSelectedSchool" select-list-data="schoolList" select-filed="name" when-selected-action="changeSelectedSchool(data)"></select-box>-->
                                <button type="button" class="dropdown-toggle" ng-click="switchShowSchoolOptions()">{{currentSelectedSchool.name}}<span class="caret"></span></button>
                                <ul class="dropdown-menu copyScroll" ng-show="showSchoolOptions" >
                                    <li ng-click="changeSelectedSchool($index)" ng-repeat="item in schoolList">{{item.name}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="chart-tab fr">
                            <div class="dropdown-list chart-tab-item">
                                <!--<select-box selected-data="currentSelectedItem" select-list-data="SelectedItems" select-filed="name" when-selected-action="changeSelected(data)"></select-box>-->
                                <button type="button" class="dropdown-toggle" ng-click="switchShowOptions()">{{currentSelectedItem.name}}<span class="caret"></span></button>
                                <ul class="dropdown-menu copyScroll" style="width:80px" ng-show="showOptions">
                                    <li ng-click="changeSelected(0)">个人</li>
                                    <li ng-click="changeSelected(1)">下属</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- 统计数据 {-->
                    <ul class="section-box3-inner2">
                        <li ng-repeat="item in funnelXData"><label>{{item.name}}</label><span>{{item.data}}</span></li>
                    </ul>
                    <!--} 统计数据 -->
                    <div class="section-box3-inner" >
                        <div class="ListDateNoResult3" ng-show="funnel_allSell<=0">无数据</div>
                        <div id="container" style="width:660px;height:320px;" ng-show="funnel_allSell>0" ></div>
                        <div class="svg-bottom-icon">
                            <span class="svg-icon-tips" ng-repeat="item in funnelXData"><em class="svg-icon color1" style="background-color:{{item.color }}"></em> {{item.name}}</span>
                        </div>
                    </div>

                </div>
                <div class="section-box3-title">签约量统计</div>
                <div class="section-box3">
                    <div class="section-box3-head clearfix">
                        <div class="chart-tab fl">
                            <a class="chart-tab-item" ng-click="selectSale(0)" ng-class="{current:SelectedIndex==0}" style="cursor:pointer;">最近7天</a>
                            <a class="chart-tab-item " ng-click="selectSale(1)" ng-class="{current:SelectedIndex==1}" style="cursor:pointer;">最近15天</a><!-- current 为选中状态-->
                            <a class="chart-tab-item" ng-click="selectSale(2)" ng-class="{current:SelectedIndex==2}" style="cursor:pointer;">最近30天</a>

                            <div class="chart-tab-item item-caret" ng-class="{current:SelectedIndex==3}" id="selectMonthDiv" ng-click="selectSale(3)">
                                {{currentSelectedMonth}} <span class="caret"></span>
                            </div>
                        </div>

                        <div class="chart-tab fr" >
                            <div class="dropdown-list chart-tab-item" >
                                <!--<select-box selected-data="currentSelectedSchool2" select-list-data="schoolList" select-filed="name" when-selected-action="changeSelectedSchool2(data)"></select-box>-->
                                <button type="button" class="dropdown-toggle" ng-click="switchShowSchoolOptions2()" >
                                    {{currentSelectedSchool2.name}}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu copyScroll" ng-show="showSchoolOptions2" >
                                    <li ng-click="changeSelectedSchool2($index)" ng-repeat="item in schoolList">{{item.name}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="chart-tab fr">
                            <div class="dropdown-list chart-tab-item">
                                <!--<select-box selected-data="currentSelectedItem2" select-list-data="SelectedItems" select-filed="name" when-selected-action="changeSelected2(data)"></select-box>-->
                                <button type="button" class="dropdown-toggle" ng-click="switchShowOptions2()">{{currentSelectedItem2.name}}<span class="caret"></span></button>
                                <ul class="dropdown-menu copyScroll" style="width:80px" ng-show="showOptions2">
                                    <li ng-click="changeSelected2(0)">个人</li>
                                    <li ng-click="changeSelected2(1)">下属</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="section-box3-inner" id="container2">

                    </div>
                </div>
                <div class="section-box3-title">渠道分布</div>
                <div class="section-box3">
                    <div class="section-box3-head clearfix">

                        <div class="chart-tab fr">
                            <div class="dropdown-list chart-tab-item" >
                                <!--<select-box selected-data="currentSelectedSchool3" select-list-data="schoolList" select-filed="name" when-selected-action="changeSelectedSchool3(data)"></select-box>-->
                                <button type="button" class="dropdown-toggle" ng-click="switchShowSchoolOptions3()">{{currentSelectedSchool3.name}}<span class="caret"></span></button>
                                <ul class="dropdown-menu copyScroll" ng-show="showSchoolOptions3" >
                                    <li ng-click="changeSelectedSchool3($index)" ng-repeat="item in schoolList">{{item.name}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="chart-tab fr">
                            <div class="dropdown-list chart-tab-item">
                                <!--<select-box selected-data="currentSelectedItem3" select-list-data="SelectedItems" select-filed="name" when-selected-action="changeSelected3(data)"></select-box>-->
                                <button type="button" class="dropdown-toggle" ng-click="switchShowOptions3()">{{currentSelectedItem3.name}}<span class="caret"></span></button>
                                <ul class="dropdown-menu copyScroll" style="width:80px" ng-show="showOptions3">
                                    <li ng-click="changeSelected3(0)">个人</li>
                                    <li ng-click="changeSelected3(1)">下属</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="section-box3-inner" >
                        <div class="svg-content clearfix">
                            <div class="svg-item">
                                <div class="svg-item-content">
                                    <div id="container3" style="width: 220px; height:260px;  margin: 0 auto" >


                                    </div>

                                </div>
                                <div class="svg-item-text">渠道有效线索分布</div>
                            </div>
                            <div class="svg-item">
                                <div class="svg-item-content">
                                    <div id="container4" style="width: 220px; height:260px;  margin: 0 auto  " >
                                    </div>
                                </div>
                                <div class="svg-item-text">渠道签约线索分布</div>
                            </div>
                            <div class="svg-item">
                                <div class="svg-item-content">
                                    <div id="container5" style="width: 220px; height:260px;  margin: 0 auto " >
                                    </div>

                                </div>
                                <div class="svg-item-text">渠道签约金额分布</div>
                            </div>
                        </div>
                        <div class="svg-bottom-icon">
                            <span class="svg-icon-tips" ng-repeat="item in validChanneldataHTML" ng-show="item.y>0"><em class="svg-icon color3" style="background-color:{{item.color}}"></em>{{item.name}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--} 右侧版块 -->

</div>
<!--} 内容版块 end -->

