<!-- 模态框与遮罩-提示-创建成功 begin {-->
<div class="modal" style="display: block;">
    <div class="modal-backdrop"></div>
    <div class="modal-dialog-ab modal-content usual-less-small">
        <div class="popup-prompt-title title-bgColor1">{{ngDialogData.title}}</div>
        <dl class="popupDialogInner5 popupDialogTcell">
            <dt class="popup-picIcon-box picIconColor1"><em class="picIcon"></em>{{ngDialogData.content1}}</dt>
            <dd class="popup-describe-box">
                {{ngDialogData.content2}}
            </dd>
        </dl>
    </div>
</div>
<!--} 模态框与遮罩-提示-创建成功 end -->
