<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title ng-bind="($state.current.title||dynamicTitle||$state.current.name)"></title>
    <link rel="stylesheet" type="text/css" href="/css/layout.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/statistics.css" />

    <link rel="stylesheet" type="text/css" href="/Scripts/app/libs/ngDialog/css/ngDialog.css" />
    <link rel="stylesheet" type="text/css" href="/Scripts/app/libs/fullcalendar/fullcalendar.css" />
    <link rel="stylesheet" type="text/css" href="/Scripts/app/libs/fullcalendar/lib/cupertino/jquery-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="/Scripts/app/libs/cropper/dist/cropper.css" />
    <link rel="stylesheet" type="text/css" href="/css/dialog-theme-custom.css" />
</head>
<body ng-cloak ng-controller="BaseAppController" class="body-template">
    <div class="body-layout">
        <!--导航栏-->
        <gint-nav></gint-nav>
        <div class="container">
            <div ui-view>
            </div>
        </div>
    </div>
    <script>
            var require = { urlArgs: 'version=1.0', baseUrl:'/Scripts/app'};
    </script>
    <script src="/Scripts/app/libs/requirejs/require.js" type="text/javascript" data-main="/Scripts/app/main.js"></script>
</body>
</html>