@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    @*iPad适配*@
    <meta name="viewport" content="user-scalable=no"/>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/error.css"/>
</head>
<body class="bodybg">
    <div class="PageErrorWrap">
        <div class="PageErrorTips1">
            @(string.IsNullOrEmpty(ViewBag.Error) ? "抱歉，您查看的页面似乎出了点问题。" : ViewBag.Error)
        </div>
        <div class="PageErrorTips2">
        </div>
    </div>
    <div style="display:none">
        @ViewBag.ErrorInfo
    </div>
</body>
</html>
