
@{
    ViewBag.Title = "扫码添加";
}

<style>
    .tabs table td,.tabs table th{

        border: #ddd 1px solid !important;
    }
    .ListDate td {
        height: 30px;
    }
</style>

<!-- 编辑 begin {-->
<div class="section">
    <div class="section-content4 consult-content">
        <div class="detail-title">模拟扫码</div>
        <ul class="info-box1 clearfix info-edit">
            <li class="typeOne-third">
                <label>条码扫描</label>
                <input type="text" class="form-control">
            </li>
            <li class="typeOne-third">
                <label>工单号</label>
                <input type="text" class="form-control">
            </li>
            <li class="typeOne-third">
                <label>工单日期</label>
                <input type="text" class="form-control">

            </li>
            <li class="typeOne-third">
                <label>工单数量</label>
                <input type="text" class="form-control">
            </li>
        </ul>
        <!-- 表格切换-->
        <div class="btn-box">
            <button type="button" class="btn-default btn-cancel">取消</button>
            <button type="button" class="btn-default btn-sure">确定</button>
        </div>
    </div>
</div>
<!--} 编辑 end -->
