<div class="navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand"><img src=""></a>
        </div>
        <!-- 功能菜单 begin {-->
        <div class="navbar-nav navbar-right">
            <ul class="navbar-nav-left" ng-show="businessLimit">
                <li class="navbar-nav-item">
                    <a ui-sref="index" ui-sref-active="active" ui-sref-opts="{reload: true}">首页</a>
                </li>
                <li class="navbar-nav-item">
                    <a>订单管理</a>
                    <ul class="navbar-dropdown-menu">
                        <li class="navbar-dropitem">
                            <a>定单管理</a>
                        </li>
                        <li class="navbar-dropitem">
                            <a>申购管理</a>
                        </li>
                        <li class="navbar-dropitem">
                            <a>采购管理</a>
                        </li>
                    </ul>
                </li>
                <li class="navbar-nav-item">
                    <a>仓库管理</a>
                    <ul class="navbar-dropdown-menu">
                        <li class="navbar-dropitem">
                            <a>采购入库</a>
                        </li>
                        <li class="navbar-dropitem">
                            <a>领料出库</a>
                        </li>
                        <li class="navbar-dropitem">
                            <a>碎料返库</a>
                        </li>
                    </ul>
                </li>
                <li class="navbar-nav-item">
                    <a>派工管理</a>
                    <ul class="navbar-dropdown-menu">
                        <li class="navbar-dropitem">
                            <a>派工管理</a>
                        </li>
                        <li class="navbar-dropitem">
                            <a>生产进度</a>
                        </li>
                    </ul>
                </li>
                <li class="navbar-nav-item">
                    <a>辅助工具</a>
                    <ul class="navbar-dropdown-menu">
                        <li class="navbar-dropitem">
                            <a>电脑扫码</a>
                        </li>
                    </ul>
                </li>
                <li class="navbar-nav-item">
                    <a>基础资料</a>
                    <ul class="navbar-dropdown-menu">
                        <li class="navbar-dropitem">
                            <a>原材料信息</a>
                        </li>
                        <li class="navbar-dropitem">
                            <a>产品信息</a>
                        </li>
                        <li class="navbar-dropitem">
                            <a>仓库信息</a>
                        </li>
                        <li class="navbar-dropitem">
                            <a>供应商信息</a>
                        </li>
                        <li class="navbar-dropitem">
                            <a>公司信息</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!--Admin 系统-->
            <ul class="navbar-nav-left" ng-show="adminLimit">
                <li class="navbar-nav-item">
                    <a ui-sref="oemrole" ui-sref-active="active" ui-sref-opts="{reload: true}">用户</a>
                </li>
                <li class="navbar-nav-item">
                    <a ui-sref="oemrole" ui-sref-active="active" ui-sref-opts="{reload: true}">角色管理</a>
                </li>
                <li class="navbar-nav-item">
                    <a ui-sref="parameter" ui-sref-active="active" ui-sref-opts="{reload: true}">日志管理</a>
                </li>
                <li class="navbar-current"></li>
            </ul>
            <!-- 个人中心 begin {-->
            <div class="navbar-nav-right">
                <div class="navbar-account">
                    <span class="navbar-account-head"><img class="face-radius" src="http://www.anbgsl1110-dms-aliang.space/img/jyl-head.png"></span>
                    <ul class="navbar-dropdown-menu">
                        <li class="navbar-dropitem">
                            <a  style="cursor: default;background-color: rgba(0,0,0,.1);">
                                <span>{{userName}}</span>
                            </a>
                        </li>
                        <li class="navbar-dropitem">
                            <a>个人设置</a>
                        </li>
                        <li class="navbar-dropitem sub-navbar-dropitem stay-right" style="">
                            <!--  二级菜单 -->
                            <a>二级菜单</a>
                            <ul class="navbar-dropdown-menu">
                                <li class="navbar-dropitem"><a href="/home/login">切换账号</a></li>                             
                            </ul>
                        </li>
                        <li class="navbar-dropitem"><a>注销</a></li>                   
                    </ul>
                </div>
            </div>
            <!-- } 个人中心 end-->
        </div>
        <!-- } 功能菜单 end-->     
    </div>
</div>