<div class="navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand"><img src="http://www.anbgsl1110-dms-aliang.space/img/ChinaFlag.png"></a>
        </div>
        <!-- 功能菜单 begin {-->
        <div class="navbar-nav navbar-right">
            <ul class="navbar-nav-left">
                <li class="navbar-nav-item">
                    <a>首页</a>
                </li>
                <li class="navbar-nav-item">
                    <a>订单管理</a>
                    <ul class="navbar-dropdown-menu">
                        <li class="navbar-dropitem">
                            <a>定单管理</a>
                        </li>
                        <li class="navbar-dropitem">
                            <a>申购管理</a>
                        </li>
                        <li class="navbar-dropitem">
                            <a>采购管理</a>
                        </li>
                    </ul>
                </li>
                <li class="navbar-nav-item">
                    <a>仓库管理</a>
                    <ul class="navbar-dropdown-menu">
                        <li class="navbar-dropitem">
                            <a>采购入库</a>
                        </li>
                        <li class="navbar-dropitem">
                            <a>领料出库</a>
                        </li>
                        <li class="navbar-dropitem">
                            <a>碎料返库</a>
                        </li>
                    </ul>
                </li>
                <li class="navbar-nav-item">
                    <a>派工管理</a>
                    <ul class="navbar-dropdown-menu">
                        <li class="navbar-dropitem">
                            <a>派工管理</a>
                        </li>
                        <li class="navbar-dropitem">
                            <a>生产进度</a>
                        </li>
                    </ul>
                </li>
                <li class="navbar-nav-item">
                    <a>辅助工具</a>
                    <ul class="navbar-dropdown-menu">
                        <li class="navbar-dropitem">
                            <a>电脑扫码</a>
                        </li>
                        <li class="navbar-dropitem">
                            <a>工资计算</a>
                        </li>
                        <li class="navbar-dropitem">
                            <a>利用率计算</a>
                        </li>
                        <li class="navbar-dropitem">
                            <a>模拟订单</a>
                        </li>
                    </ul>
                </li>
                <li class="navbar-nav-item">
                    <a>基础资料</a>
                    <ul class="navbar-dropdown-menu">
                        <li class="navbar-dropitem">
                            <a>原材料信息</a>
                        </li>
                        <li class="navbar-dropitem">
                            <a>产品信息</a>
                        </li>
                        <li class="navbar-dropitem">
                            <a>供应商信息</a>
                        </li>
                        <li class="navbar-dropitem">
                            <a>仓库信息</a>
                        </li>
                    </ul>
                </li>
                <li class="navbar-nav-item">
                    <a>系统设置</a>
                    <ul class="navbar-dropdown-menu">
                        <li class="navbar-dropitem">
                            <a>角色管理</a>
                        </li>
                        <li class="navbar-dropitem">
                            <a>用户管理</a>
                        </li>
                        <li class="navbar-dropitem">
                            <a>组织结构</a>
                        </li>
                        <li class="navbar-dropitem">
                            <a>配置信息</a>
                        </li>
                        <li class="navbar-dropitem">
                            <a>日志管理</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- } 功能菜单 end-->
            <!-- 个人中心 begin {-->
            <ul class="navbar-nav-right">
                <div class="navbar-account">
                    <span class="navbar-account-head"><img class="face-radius" src="http://www.anbgsl1110-dms-aliang.space/img/jyl-head.png"></span>
                    <ul class="navbar-dropdown-menu">
                        <li class="navbar-dropitem">
                            <a  style="cursor: default;background-color: rgba(0,0,0,.1);">
                                <span>anbgsl1110</span>
                            </a>
                        </li>
                        <li class="navbar-dropitem">
                            <a>个人设置</a>
                        </li>
                        <li class="navbar-dropitem sub-navbar-dropitem stay-right" style="display: none">
                            <!--  二级菜单 -->
                            <a>二级菜单</a>
                            <ul class="navbar-dropdown-menu">
                                <li class="navbar-dropitem"><a>哈哈哈哈</a></li>
                            </ul>
                        </li>
                        <li class="navbar-dropitem"><a>注销</a></li>
                    </ul>
                </div>
            </ul>
            <!-- } 个人中心 end-->
        </div>
    </div>
</div>